extends base

block content
  .wrapper
    - var page = 'config'
    include includes/header.pug
    include includes/aside.pug
    
    main#config.main
      section.config
        h2.title-section Personalización

        div.cards
          article.card
            header.card__header
              h3 Alertas
            main.card__body
              .form-control
                div TO-DO Notificaciones por tiempos de inactividad durante las pausas. Y recordatorios
                div TO-DO jornada de verano
                div TO-DO guardias de fines de semana
                //
                  div
                    button#clearInterval(type='button') Limpiar Interval
                  .container
                    button(onclick='notify()')
                      | Push Notification!
              //
                .form-control
                  label.container-input(for='notificaciones')
                    input#notificaciones.input(type='checkbox' name='notificaciones')
                    | Activar notificaciones en las pausas
                    span.checkmark
                .form-control
                  label.container-input(for='avisar')
                    input#avisar.input(type='checkbox' name='avisar')
                    | Avisar a los 30:00 minutos de descanso
                    span.checkmark
                .form-control
                  label.container-input(for='recordatorio')
                    input#recordatorio.input(type='checkbox' name='recordatorio')
                    | Recordar cada 05:00 minutos
                    span.checkmark
          article.card
            header.card__header
              h3 Jornada laboral
            main.card__body
              .form-control
                div.planning-time
                  div.dia
                  div.comienzo Hora inicio
                  div.fin Hora fin
                each val, key in data.config.journal
                  div.planning-time
                    div.dia= val.day
                    div.comienzo
                      input.js-time(type='time' name=`start${key}` id=`start${key}` value=val.start required)
                    div.fin
                      input.js-time(type='time' name=`end${key}` id=`end${key}` value=val.end required)
              button#save-journal.btn.btn--see(type='button') Guardar
          article.card
            header.card__header
              h3 Descarga de tracking en CSV
            main.card__body
              .form-control
                div TO-DO Select para meses
